<a href="https://colab.research.google.com/github/rebeccadimatteo/ExplainableAI/blob/main/IngegnerizzazioneDatiConsumoAlcolStudentiMatematica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LETTURA FILE CSV CON DATASET

In [ ]:
import pandas as pd
import os
import matplotlib.pyplot as plt

from six.moves import urllib

import seaborn as sb
from matplotlib import style

style.use('seaborn-whitegrid')

plt.rcParams['figure.figsize'] = (20,10)

DOWNLOAD_ROOT="https://raw.githubusercontent.com/rebeccadimatteo/ExplainableAI/master/datasetMatematica.csv"

#fetch dataset da github
def fetch_file_data1(file_url1=DOWNLOAD_ROOT, file_path1="file"):
  os.makedirs(file_path1, exist_ok=True)
  csv_path1 = os.path.join(file_path1, "datasetMatematica.csv")
  urllib.request.urlretrieve(file_url1, csv_path1)
fetch_file_data1()

#df Ã¨ la variabile che contiene il dataset
df=pd.read_csv("file/datasetMatematica.csv")
df.head(2)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2 G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6  6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5  6

[2 rows x 33 columns]

DATA CLEANING

In [ ]:
#verifica se ci sono dati null nel dataset
df.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [ ]:
#verifica se ci sono dati NA nel dataset
df.isna().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [3]:
df.info()

NameError: ignored